:root {
	--primary: #ffffff;
	--secondary: #6658f3;
	--typography: "Helvetica Neue", sans-serif;
	--font-size: 1.1rem;
	--input-placeholder: #d1cfcf;
	--border: 2px solid #d0d1d5;
	--icon-color: #9c9c9c;
	--invalid-color: #bb5a68;
	--bottom-spacing: 1rem;
	--radius: 2px;
}

* {
	font-size: var(--font-size);
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background: var(--primary);
	background-image: radial-gradient(#c3c3c3 1px, transparent 0),
		radial-gradient(#f2f2f2 1px, transparent 0);
	background-size: 40px 40px, 8px 8px;
	background-position: -19px -19px;
	font-family: var(--typography);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.flex-container {
	display: flex;
}

.w-100 {
	width: 100%;
}
.flex-container.justify-between {
	justify-content: space-between;
}

.flex-container.align-middle {
	align-items: baseline;
}

.text-input {
	border: var(--border);
	background-color: var(--primary);
	border-radius: var(--radius);
	padding: 0.4rem;
}

.text-input > input {
	border: none;
}
.text-input > span {
	vertical-align: middle;
}
.text-input svg {
	color: var(--icon-color);
}
.text-input > input::placeholder {
	color: var(--input-placeholder);
}

.text-input.invalid {
	border-color: var(--invalid-color);
}

button {
	background-color: var(--secondary);
	padding: 0.5rem 1rem;
	color: var(--primary);
	border: none;
	border-radius: var(--radius);
	cursor: pointer;
}

table {
	background-color: var(--primary);
	padding: 0.5rem 1rem;
	border: var(--border);
	border-collapse: collapse;
	min-width: 100%;
}

.table-image {
	width: 4rem;
	margin: 0 auto;
	height: 1.4rem;
}
.table-image img {
	object-fit: contain;
	width: 100%;
	height: 1.4rem;
}

.table-actions {
	display: flex;
	justify-content: space-around;
	width: 80%;
	margin: 0 auto;
	color: var(--secondary);
}

.table-actions svg {
	cursor: pointer;
}
td,
th {
	background-color: var(--primary);
	padding: 0.5rem 1rem;
	border: var(--border);
	border-collapse: collapse;
}

button > span {
	vertical-align: middle;
}

main {
	max-width: 1600px;
	width: 80%;
	margin: 0 auto;
}
main > * {
	margin-bottom: var(--bottom-spacing);
}

.form-container {
	border: var(--border);
	background-color: var(--primary);
	text-align: center;
	padding: 0 2rem;
}

.form-container > * {
	margin-bottom: var(--bottom-spacing);
}
.form-container > h2 {
	margin: 2rem 0;
}

.form-container > form > * {
	margin-bottom: var(--bottom-spacing);
}
.input-group {
	display: flex;
	justify-content: space-between;
}
.input-group > * > * {
	margin-bottom: calc(var(--bottom-spacing) * 1.4);
}

.input-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.button-group button:nth-child(1) {
	margin-right: 0.6rem;
}

.text-input:focus-within {
	border-color: var(--secondary);
}

.text-input input {
	outline: none;
}

button.disabled {
	opacity: 0.4;
}